.alertList {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 500;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}